.card{
    background-color: #5cf2e8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin-left: 50px;
    max-width: 300px;
    text-align: center;
    display: inline-block;
}

.card img {

    width: 100%;
    height: 70%;
    border-radius: 8px;
}